@tailwind base;
@tailwind components;
@tailwind utilities;

/* Assicuriamo che l'app prenda tutta l'altezza e la larghezza */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Imposta il colore di sfondo globale (già lo hai in AppShell, ma male non fa) */
body {
  background: #09090b; 
}